<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>|</key>
	<array>
		<string>bracket</string>
		<string>racket</string>
		<string>braket</string>
	</array>
	<key>with</key>
	<array>
		<string>with</string>
	</array>
	<key>by</key>
	<array>
		<string>by</string>
		<string>bi</string>
		<string>bye</string>
	</array>
	<key>and</key>
	<array>
		<string>and</string>
		<string>&amp;</string>
		<string>end</string>
	</array>
	<key>)</key>
	<array>
		<string>close bracket</string>
		<string>clow bracket</string>
		<string>close brocket</string>
		<string>close racket</string>
		<string>close braket</string>
	</array>
	<key>(</key>
	<array>
		<string>open bracket</string>
		<string>pen bracket</string>
		<string>open brocket</string>
		<string>open racket</string>
		<string>open braket</string>
	</array>
	<key>teen</key>
	<array>
		<string>tin</string>
	</array>
	<key>hundred</key>
	<array>
		<string>dread</string>
		<string>hun dred</string>
		<string>hon dred</string>
		<string>hun dread</string>
		<string>hon dread</string>
	</array>
	<key>thousand</key>
	<array>
		<string>thou sand</string>
		<string>thou send</string>
		<string>foul send</string>
		<string>foul sand</string>
	</array>
	<key>million</key>
	<array>
		<string>mill yen</string>
		<string>mill yan</string>
		<string>minion</string>
	</array>
	<key>billion</key>
	<array>
		<string>bill yen</string>
		<string>bill yan</string>
		<string>billy on</string>
		<string>billy an</string>
		<string>bill an</string>
		<string>billy anne</string>
	</array>
	<key>20</key>
	<array>
		<string>twenty</string>
		<string>tending</string>
		<string>trendy</string>
		<string>tandy</string>
		<string>tendy</string>
	</array>
	<key>30</key>
	<array>
		<string>thirty</string>
		<string>thur tee</string>
		<string>thur tea</string>
		<string>firty</string>
		<string>fur tee</string>
		<string>fur tea</string>
		<string>dirty</string>
		<string>thoughty</string>
	</array>
	<key>40</key>
	<array>
		<string>forty</string>
		<string>for tee</string>
		<string>for tea</string>
		<string>four tee</string>
		<string>four tea</string>
	</array>
	<key>50</key>
	<array>
		<string>fifty</string>
		<string>fifth tee</string>
		<string>fifth tea</string>
	</array>
	<key>60</key>
	<array>
		<string>sixty</string>
		<string>sicks tea</string>
		<string>sicks tee</string>
		<string>sex tea</string>
		<string>sex tee</string>
		<string>sick stee</string>
		<string>sexty</string>
	</array>
	<key>70</key>
	<array>
		<string>seventy</string>
		<string>seven tee</string>
		<string>seven tea</string>
	</array>
	<key>80</key>
	<array>
		<string>eighty</string>
		<string>ate he</string>
		<string>hatey</string>
		<string>atey</string>
		<string>a tee</string>
		<string>a tea</string>
	</array>
	<key>90</key>
	<array>
		<string>ninety</string>
		<string>nine tee</string>
		<string>nine tea</string>
		<string>nigh tee</string>
		<string>nigh tea</string>
		<string>nein tee</string>
		<string>nein tea</string>
	</array>
	<key>13</key>
	<array>
		<string>thirteen</string>
		<string>thur teen</string>
		<string>there tin</string>
		<string>tear tin</string>
		<string>tear teen</string>
		<string>fur teen</string>
		<string>fur tin</string>
	</array>
	<key>12</key>
	<array>
		<string>twelve</string>
		<string>delve</string>
		<string>tells</string>
		<string>tweels</string>
		<string>tweel</string>
	</array>
	<key>11</key>
	<array>
		<string>eleven</string>
		<string>leven</string>
		<string>eleventh</string>
		<string>elevens</string>
	</array>
	<key>10</key>
	<array>
		<string>ten</string>
		<string>tin</string>
		<string>den</string>
		<string>din</string>
	</array>
	<key>9</key>
	<array>
		<string>nine</string>
		<string>nein</string>
		<string>mine</string>
	</array>
	<key>8</key>
	<array>
		<string>eight</string>
		<string>ate</string>
		<string>hate</string>
		<string>rate</string>
		<string>eat</string>
	</array>
	<key>7</key>
	<array>
		<string>seven</string>
		<string>zeven</string>
		<string>heaven</string>
		<string>sever</string>
		<string>zever</string>
		<string>seva</string>
		<string>haven</string>
	</array>
	<key>6</key>
	<array>
		<string>six</string>
		<string>sex</string>
		<string>sox</string>
		<string>socks</string>
		<string>sax</string>
		<string>sicks</string>
		<string>sick</string>
		<string>sic</string>
		<string>zic</string>
	</array>
	<key>5</key>
	<array>
		<string>five</string>
		<string>fly</string>
		<string>hive</string>
		<string>thrive</string>
	</array>
	<key>4</key>
	<array>
		<string>four</string>
		<string>for</string>
		<string>thor</string>
		<string>floor</string>
	</array>
	<key>3</key>
	<array>
		<string>three</string>
		<string>tree</string>
		<string>free</string>
		<string>trio</string>
	</array>
	<key>2</key>
	<array>
		<string>two</string>
		<string>too</string>
		<string>to</string>
		<string>do</string>
	</array>
	<key>1</key>
	<array>
		<string>one</string>
		<string>won</string>
		<string>wun</string>
		<string>wan</string>
	</array>
	<key>0</key>
	<array>
		<string>zero</string>
		<string>ziro</string>
		<string>ero</string>
		<string>sirrow</string>
		<string>zirrow</string>
		<string>zoro</string>
		<string>nun</string>
		<string>none</string>
		<string>non</string>
	</array>
	<key>/</key>
	<array>
		<string>divide</string>
		<string>divide by</string>
		<string>divide bye</string>
		<string>divide bi</string>
		<string>divided by</string>
		<string>divided bye</string>
		<string>divided bi</string>
		<string>into</string>
		<string>divided</string>
		<string>÷</string>
	</array>
	<key>⟆</key>
	<array>
		<string>over</string>
		<string>fraction</string>
		<string>faction</string>
	</array>
	<key>⟆2</key>
	<array>
		<string>halved</string>
		<string>halves</string>
		<string>half</string>
	</array>
	<key>⟆3</key>
	<array>
		<string>thirds</string>
		<string>turds</string>
	</array>
	<key>⟆4</key>
	<array>
		<string>fourths</string>
		<string>forths</string>
		<string>floors</string>
		<string>quarters</string>
		<string>quartered</string>
	</array>
	<key>⟆5</key>
	<array>
		<string>fifths</string>
		<string>fifth</string>
	</array>
	<key>⟆6</key>
	<array>
		<string>sixth</string>
		<string>sixths</string>
	</array>
	<key>⟆7</key>
	<array>
		<string>seventh</string>
		<string>sevenths</string>
	</array>
	<key>⟆8</key>
	<array>
		<string>eighth</string>
		<string>eighths</string>
	</array>
	<key>⟆9</key>
	<array>
		<string>ninth</string>
		<string>ninths</string>
	</array>
	<key>⟆10</key>
	<array>
		<string>tenth</string>
		<string>tenths</string>
	</array>
	<key>⟆11</key>
	<array>
		<string>eleventh</string>
		<string>elevenths</string>
	</array>
	<key>⟆12</key>
	<array>
		<string>twelfth</string>
		<string>twelfths</string>
	</array>
	<key>⟆13</key>
	<array>
		<string>thirteenth</string>
		<string>thirteenths</string>
	</array>
	<key>⟆14</key>
	<array>
		<string>fourteenth</string>
		<string>fourteenths</string>
	</array>
	<key>⟆15</key>
	<array>
		<string>fifteenth</string>
		<string>fifteenths</string>
	</array>
	<key>⟆16</key>
	<array>
		<string>sixteenth</string>
		<string>sixteenths</string>
	</array>
	<key>⟆17</key>
	<array>
		<string>seventeenth</string>
		<string>seventeenths</string>
	</array>
	<key>⟆18</key>
	<array>
		<string>eighteenth</string>
		<string>eighteenths</string>
	</array>
	<key>⟆19</key>
	<array>
		<string>ninteenth</string>
		<string>ninteenths</string>
	</array>
	<key>⟆20</key>
	<array>
		<string>twentieth</string>
		<string>twentieths</string>
	</array>
	<key>-</key>
	<array>
		<string>minus</string>
		<string>take</string>
		<string>negative</string>
		<string>subtract</string>
		<string>sub</string>
	</array>
	<key>*</key>
	<array>
		<string>times</string>
		<string>timesed</string>
		<string>time</string>
		<string>multiply</string>
		<string>multiplied</string>
		<string>multiply</string>
		<string>multiplied</string>
		<string>malt</string>
		<string>groups</string>
		<string>time</string>
		<string>tines</string>
		<string>tine</string>
		<string>tie</string>
		<string>x</string>
		<string>×</string>
		<string>of</string>
	</array>
	<key>+</key>
	<array>
		<string>plus</string>
		<string>add</string>
		<string>addition</string>
		<string>combine</string>
		<string>+</string>
	</array>
	<key>%</key>
	<array>
		<string>percentage</string>
		<string>percent</string>
		<string>per cent</string>
		<string>percent of</string>
		<string>per cent of</string>
	</array>
	<key>.</key>
	<array>
		<string>dot</string>
		<string>point</string>
		<string>decimal</string>
	</array>
	<key>π</key>
	<array>
		<string>pi</string>
		<string>pie</string>
		<string>pye</string>
		<string>pier</string>
		<string>π</string>
	</array>
	<key>ℇ</key>
	<array>
		<string>e</string>
		<string>ee</string>
		<string>eee</string>
		<string>he</string>
		<string>euler</string>
		<string>euler constant</string>
		<string>eulers constant</string>
	</array>
	<key>∞</key>
	<array>
		<string>infinite</string>
		<string>infinitely</string>
		<string>inf</string>
		<string>infinity</string>
		<string>finite</string>
		<string>finitely</string>
		<string>finity</string>
		<string>innately</string>
		<string>god</string>
		<string>godly</string>
		<string>in fin</string>
		<string>in fin it</string>
		<string>in fin it tee</string>
		<string>in fin it tea</string>
		<string>in fin tee</string>
		<string>in fin tea</string>
	</array>
	<key>⟁</key>
	<array>
		<string>sin</string>
		<string>sine</string>
		<string>sign</string>
	</array>
	<key>⟃</key>
	<array>
		<string>cos</string>
		<string>cosin</string>
		<string>cousin</string>
		<string>cosine</string>
		<string>cosign</string>
		<string>co-sign</string>
	</array>
	<key>⟄</key>
	<array>
		<string>tan</string>
		<string>tangent</string>
	</array>
	<key>√</key>
	<array>
		<string>square of</string>
		<string>squareroot</string>
		<string>squareroot of</string>
		<string>square root</string>
		<string>square root of</string>
		<string>√</string>
	</array>
	<key>^</key>
	<array>
		<string>exponent</string>
		<string>to the</string>
		<string>power of</string>
		<string>to power of</string>
		<string>to the power of</string>
		<string>to</string>
	</array>
	<key>^2</key>
	<array>
		<string>squared</string>
		<string>square</string>
	</array>
	<key>^3</key>
	<array>
		<string>cubed</string>
		<string>cube</string>
	</array>
</dict>
</plist>
