<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Default</string>
		<key>creator</key>
		<string>Alex Vanderzon</string>
		<key>image</key>
		<string>background</string>
		<key>IAP</key>
		<false/>
		<key>backgroundRotates</key>
		<true/>
		<key>themeID</key>
		<string>pink001</string>
		<key>themePackID</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Orange</string>
		<key>creator</key>
		<string>Alex Vanderzon</string>
		<key>image</key>
		<string>orange_background</string>
		<key>IAP</key>
		<true/>
		<key>backgroundRotates</key>
		<true/>
		<key>themeID</key>
		<string>orange001</string>
		<key>themePackID</key>
		<string>com.numericalapp.themepack001</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Violet</string>
		<key>creator</key>
		<string>Alex Vanderzon</string>
		<key>image</key>
		<string>purple_background</string>
		<key>IAP</key>
		<true/>
		<key>backgroundRotates</key>
		<true/>
		<key>themeID</key>
		<string>purple001</string>
		<key>themePackID</key>
		<string>com.numericalapp.themepack001</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Dark Mode</string>
		<key>creator</key>
		<string>Alex Vanderzon</string>
		<key>image</key>
		<string>dark_background</string>
		<key>IAP</key>
		<true/>
		<key>backgroundRotates</key>
		<true/>
		<key>themeID</key>
		<string>dark001</string>
		<key>themePackID</key>
		<string>com.numericalapp.themepack001</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Blue</string>
		<key>creator</key>
		<string>Andrew Clark</string>
		<key>image</key>
		<string>blue_background</string>
		<key>IAP</key>
		<true/>
		<key>backgroundRotates</key>
		<true/>
		<key>themeID</key>
		<string>blue001</string>
		<key>themePackID</key>
		<string>com.numericalapp.themepack001</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Water</string>
		<key>creator</key>
		<string>Andrew Clark</string>
		<key>image</key>
		<string>water_background</string>
		<key>IAP</key>
		<true/>
		<key>backgroundRotates</key>
		<false/>
		<key>themeID</key>
		<string>water001</string>
		<key>themePackID</key>
		<string>com.numericalapp.themepack001</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sand</string>
		<key>creator</key>
		<string>Andrew Clark</string>
		<key>image</key>
		<string>sand_background</string>
		<key>IAP</key>
		<true/>
		<key>backgroundRotates</key>
		<false/>
		<key>themeID</key>
		<string>sand001</string>
		<key>themePackID</key>
		<string>com.numericalapp.themepack001</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Leaves</string>
		<key>creator</key>
		<string>Andrew Clark</string>
		<key>image</key>
		<string>leaves_background</string>
		<key>IAP</key>
		<true/>
		<key>backgroundRotates</key>
		<false/>
		<key>themeID</key>
		<string>leaves001</string>
		<key>themePackID</key>
		<string>com.numericalapp.themepack001</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Clouds</string>
		<key>creator</key>
		<string>Andrew Clark</string>
		<key>image</key>
		<string>clouds_background</string>
		<key>IAP</key>
		<true/>
		<key>backgroundRotates</key>
		<false/>
		<key>themeID</key>
		<string>cloud001</string>
		<key>themePackID</key>
		<string>com.numericalapp.themepack001</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Space</string>
		<key>creator</key>
		<string>Andrew Clark</string>
		<key>image</key>
		<string>space_background</string>
		<key>IAP</key>
		<true/>
		<key>backgroundRotates</key>
		<false/>
		<key>themeID</key>
		<string>space001</string>
		<key>themePackID</key>
		<string>com.numericalapp.themepack001</string>
	</dict>
</array>
</plist>
